html {
	height: 100%;
}
body {
	height: 100%;
	overscroll-behavior: contain;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

// [ref](https://github.com/angular/components/blob/master/src/cdk/a11y/a11y.md#focusmonitor)
:focus {
	outline: none;
	box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.25rem #000;
}

.cdk-program-focused,
.cdk-mouse-focused,
.cdk-touch-focused {
	:focus {
		box-shadow: none;
	}
}
